.card {
  width: 18rem;
}

.container-fluid {
  background-color: black;
  height: 200vh;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}