.card {
  width: 18rem;
}

body {
  background-color: black;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}